*{
    margin: 0;
    padding:0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #252525;
    padding-top: 10px;
    
}
.b1{
    display: flex;
    margin-right: 800px;
    margin-left:20px;
    margin-top:20px;
}
.b2{
    display: flex;
    align-items: center;
   

}
.b2>div{
    margin-right: 25px;
    border-right: 1px solid #555555;
    border-width: 2px;
   
   
   
    
     
}
.b2>div>a{
    padding-right: 8px;
    padding-left:8px;
    margin-right: 2px;
}

a{
    color:#FFFFFF;
    text-decoration: none;
    font-family: "Neue Plak Regular";
    font-size: 13px;
    font-weight:400;
    Line-height: normal;
    height: 28px;
    text-align: center;
    
}
.imgtag{
    height: 49px;
    width: 45px;
  
}

.main-container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 88%;
    height: 70px;
    margin-top: 5px;
}
.nav-content{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-size: 14px;
    font-family: Neue Plak SemiBold;
}
.navbar > span > a{
    color: rgb(196,12,47);
}
.navbar{
    width: 650px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.navbar > img{
    width: 30%;
    margin-right: 25px;
}
.navbarR{
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchBar{
    border-bottom: 2px solid rgb(58, 58, 58);
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.DeliveryLogo{
    width: 260px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(196,12,47);
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;

}
.searchBar i{
    font-size: 25px;
    margin-right: 10px;
    margin-left: -5px;
    margin-right: 10px;
    opacity: 80%;
}
.searchBar input{
    width: 90px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 15px;
}
.DeliveryLogo i{
    margin-left: 15px;
    margin-right: 10px;
    font-size: 20px;
}
.DeliveryLogo h3{
    margin: 0;
    font-size: 13px;
}
.DeliveryLogo p{
    margin: 0;
    font-size: 10px;
    margin-top: 3px;
    opacity: 90%;
}

.main-box{
    position: relative;
    max-width: 1320px;
    margin: 3rem auto;
}
.box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.prod > .prod-img{
    position: relative;
}
.prod > .prod-img > img{
    width: 100%;
}
.prod > .prod-img > div:nth-child(2) {
    background: linear-gradient(285deg, rgb(46, 164, 224), rgb(49, 198, 132));
    color: #fff;
    font-family: Poppins;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    left: 0;
}
.prod>.prod-img>div:nth-child(3){
    position: absolute;
    right: 8px;
    top: 15px;
}
.prod-content{
    display: flex;
    justify-content: space-between;
}
.prod-content > div:first-child{
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
}
.prod-content>div:first-child > p{
    text-transform: uppercase; 
    font-weight: 400;
    font-size: 13px;
}
.prod-content>div:first-child > h2{
    font-size: 16px;
    font-weight: 500;
    padding: 6px 0;
}
.prod-content>div:last-child{
    padding-top: 8px;
}
.fixed-section{
    position: fixed;
    right: 20px;
    bottom: 60px;
}
.fixed-section > button{
    padding: 0px 7px;
    border: none;
    border-radius: 5px;
}
.fixed-section > button > img{
    width: 50px;
    height: 28px;
}
.fixed-section > img{
    display: block;
    margin-left: 10px;
    width: 60px;
}